#Pandas dataframe of movies from TMDB API

In [2]:
import requests
import pandas as pd

In [3]:
final=pd.DataFrame()
for j in range(1,501):
    response = requests.get("http://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}".format(j)).json()
    
    popularity=[]
    vote_count=[]
    original_language=[]
    title=[]
    vote_average=[]
    overview=[]
    release_date=[]

    for i in response["results"]:
        popularity.append(i["popularity"])
        vote_count.append(i["vote_count"])
        original_language.append(i["original_language"])
        title.append(i["title"])
        vote_average.append(i["vote_average"])
        overview.append(i["overview"])
        release_date.append(i["release_date"])
    
    d={"title":title, "overview":overview, "original_language":original_language, "release date":release_date, 
       "popularity":popularity, "vote_count":vote_count,"vote_average":vote_average}
    
    df=pd.DataFrame(d)    

    final = pd.concat([final, df], ignore_index=True)

In [4]:
final.head()

,title,overview,original_language,release date,popularity,vote_count,vote_average
0,Venom: The Last Dance,Eddie and Venom are on the run. Hunted by both...,en,2024-10-22,3073.235,850,6.499
1,Smile 2,"About to embark on a new world tour, global po...",en,2024-10-16,2261.273,633,6.900
2,The Wild Robot,"After a shipwreck, an intelligent robot called...",en,2024-09-12,2014.165,3098,8.500
3,Gladiator II,Years after witnessing the death of the revere...,en,2024-11-13,1755.715,688,6.791
4,Terrifier 3,Five years after surviving Art the Clown's Hal...,en,2024-10-09,1511.130,1087,6.900

In [5]:
final.shape

(10000, 7)

In [6]:
final.tail()

,title,overview,original_language,release date,popularity,vote_count,vote_average
9995,Banana Joe,Island farmer Banana Joe helps the local commu...,it,1982-03-24,15.202,451,6.700
9996,Wolf Hound,Inspired by the real-life German special opera...,en,2022-06-03,12.173,90,6.500
9997,Eternal 831,"In the present day, the world is in turmoil du...",ja,2022-03-18,12.510,18,5.778
9998,Goodnight Mommy,When twin brothers arrive home to find their m...,en,2022-09-16,11.475,450,6.271
9999,I Am Mother,A teenage girl is raised underground by a robo...,en,2019-06-07,14.960,2532,6.696

In [15]:
final.to_csv("TMDB DataSet2")